
body {
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  font-family: 'Comic Sans MS';
  color: orange;
}

p {
  font-family: "Comic Sans MS";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
