
body {
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fab;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
