<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOUR FATE RESTS IN YOUR HANDS</h1>
  </div>

  <p id="demo">
    CHOOSE YOUR FATE
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Bad Times
  </button>

  <button class="btn btn-default" type="button" onclick="newFunction()">
    Sad Times
  </button>

  <div id="doge-image"/>

</body>

</html>