<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

      <% include ../partials/head %>
      <% include ../partials/navbar %>

      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

      <title>Evelyn Chen</title>

        <!-- From Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
  
        
    <script type="text/javascript" src="chrome-extension://hdokiejnpimakedhajhdlcegeplioahd/xhrExtension.js"></script></head>
    
    <body>
        <div class="description">

          <p>
          <span style="font-size: 48px;">Hello world!</span><br>
          My name is <span style="color: #1693A5; font-weight: bold;">Evelyn</span>,<br>
          lover of cats, video games, and all things sweet.<br>
          I also find CS to be really neat!
          </p>

          <button class="btn btn-default" type="button" onclick="newFunction()">
          TIME TO CRY
          </button>

          <button class="btn btn-default" type="button" onclick="endFunction()">
          END EVERYTHING
          </button>

          <button class="btn btn-default" type="button" onclick="myFunction()">
          TIME TO SUFFER
          </button>

          <div id="doge-image"/>

        </div>

      
    </body>
</html>